<div class="container">
  <h4 class="m-2 my-4"><span class="bg-light">商品詳細</span></h4>
  <div class="row">
    <%= image_tag @item.image, size: '300x200', class: "mr-5" %>
    <div classs="container">
      <div class="row">
        <span class="col-3"><b>商品</b></span>
        <%= @item.name %>
      </div>
      <div class="row">
        <span class="col-3"><b>商品説明</b></span>
        <%= @item.introduction %>
      </div>
      <div class="row">
        ジャンル
        <%= @item.genre.name %>
      </div>
      <div class="row">
        <b>税込価格<br>(税抜価格)</b>
        <%= (@item.price*1.1).floor.to_s(:delimited) %>円
        (<%= @item.price.to_s(:delimited) %>円)
      </div>
      <div class="row">
        <b>販売</b>ステータス
        <% if @item.is_active? %>
          販売中
        <% else %>
          販売停止中
        <% end %>
</div>


  <%= link_to "編集する", edit_admin_item_path(@item.id) %>
</div>
</div>

</div>

