<div class="container">
  <h4 class="m-2 my-4"><span class="bg-light">会員一覧</span></h4>

  <div class="container col-10">
    <table class="table">
      <thead class="table-secondary">
        <tr>
          <th scope="col" style="width: 15%">会員ID</th>
          <th scope="col" style="width: 25%"><u>氏名</u></th>
          <th scope="col" style="width: 30%">メールアドレス</th>
          <th scope="col" style="width: 30%">ステータス</th>
        </tr>
      </thead>
      <% @customers.each do |customer| %>
      <tbody>
        <tr>
        <td><%= customer.id%></td>
          <td>
            <u>
              <%= link_to admin_customer_path(customer.id), class: "text-dark" do %>
                <%= customer.last_name %>
                <%= customer.first_name %>
              <% end %>
            </u>
          </td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_active? %>
              <span class="text-success"><b>有効</b></span>
            <% else %>
              <span class="text-black-50 bg-white"><b>退会</b></span>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <%= paginate @customers %>
  </div>
</div>