<div class="container">
  <h4 class="m-2 my-4"><span class="bg-light"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</span></h4>

  <div class="row mb-3">
    <div class="col-3">会員ID</div>
    <%= @customer.id %>
  </div>

  <div class="row mb-3">
    <div class="col-3">氏名</div>
    <%= @customer.last_name %> <%= @customer.first_name %>
  </div>

  <div class="row mb-3">
    <div class="col-3">フリガナ</div>
    <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
  </div>

  <div class="row mb-3">
    <div class="col-3">郵便番号</div>
    <%= @customer.postal_code %>
  </div>

  <div class="row mb-3">
    <div class="col-3">住所</div>
    <%= @customer.address %>
  </div>

  <div class="row mb-3">
    <div class="col-3">電話番号</div>
    <%= @customer.telephone_number %>
  </div>

  <div class="row mb-3">
    <div class="col-3">メールアドレス</div>
    <%= @customer.email %>
  </div>

  <div class="row mb-3">
    <div class="col-3">会員ステータス</div>
      <% if @customer.is_active? %>
        <span class="text-success"><b>有効</b></span>
      <% else %>
        <span class="text-black-50 bg-white"><b>退会</b></span>
      <% end %>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "mr-5 btn btn-success" %>
    <%= link_to "注文履歴一覧を見る", admin_path, class: "btn btn-primary" %>
  </div>
</div>