<h2>注文履歴詳細</h2>

  購入者
    <%= link_to @name, admin_customer_path(@order.customer_id) %>
  注文日
    <%= @order.created_at %>
  配送先
    <%= @order.address_display %><br>
    <%= @order.customer.last_name %><%= @order.customer.first_name %>
  支払方法
    <% @order.payment_method_display %>
  注文ステータス
    <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
      <%= f.select :order_status,  [['入金待ち',0], ['入金確認',1], ['制作中',2], ['発送準備中',3], ['発送済み',4]]  %>
      <%= f.submit '更新' %>
    <% end %>

<table>
  <thead>
    <th>商品</th>
    <th>単価(税込)</th>
    <th>個数</th>
    <th>小計</th>
  </thead>
  <tbody>
    <tr>
      <% @order.order_items.each do |order_item| %>
        <td><%= order_item.item.name %></td>
        <td><%= (order_item.purchase_price*1.1).floor.to_s(:delimited) %></td>
        <td><%= order_item.amount %></td>
        <td><%= (order_item.purchase_price*1.1 * order_item.amount).floor.to_s(:delimited) %></td>
        <td> 
          <%= form_with model: @order_item, url: admin_order_detail_path, method: :patch do |f| %>
            <%= f.select :production_status,  [['着手不可',0], ['制作待ち',1], ['制作中',2], ['制作完了',3]]  %>
            <%= f.submit '更新' %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>


商品合計
  <%= @total %>
配送料
  <%= @order.postage %>
ご請求額
  <%= @order.payment_amount %>
