<div class="container">
  <h4 class="m-2 my-4"><span class="bg-light">注文履歴詳細</span></h4>
  <div class="row">
    <div class="col-2"><strong>購入者</strong></div>
    <%= link_to @name, admin_customer_path(@order.customer_id) %>
  </div>
  <div class="row">
    <div class="col-2"><strong>注文日</strong></div>
    <%= @order.created_at %>
  </div>
  <div class="row">
    <div class="col-2"><strong>配送先</strong></div>
    <%= @order.address_display %><br>
    <%= @order.customer.last_name %><%= @order.customer.first_name %>
  </div>
  <div class="row">
    <div class="col-2"><strong>支払方法</strong></div>
    <%= @order.payment_method_display %>
  </div>
  <div class="row">
    <div class="col-2"><strong>注文ステータス</strong></div>
    <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
      <%= f.select :order_status,  [['入金待ち',0], ['入金確認',1], ['制作中',2], ['発送準備中',3], ['発送済み',4]]  %>
      <%= f.submit '更新', class: "btn btn-success" %>
    <% end %>
  </div>
  
  <div class="row">
    <table class="table mt-4 col-7">
      <thead class="table-secondary">
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
        <th>製作ステータス</th>
      </thead>
      <tbody>
        <tr>
          <% @order.order_items.each do |order_item| %>
            <td><%= order_item.item.name %></td>
            <td><%= (order_item.purchase_price*1.1).floor.to_s(:delimited) %></td>
            <td><%= order_item.amount %></td>
            <td><%= (order_item.purchase_price*1.1 * order_item.amount).floor.to_s(:delimited) %></td>
            <td> 
              <%= form_with model: @order_item, url: admin_order_detail_path, method: :patch do |f| %>
                <%= f.select :production_status,  [['着手不可',0], ['制作待ち',1], ['制作中',2], ['制作完了',3]]  %>
                <%= f.submit '更新', class: "btn btn-success"  %>
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <div class="ml-5">
      <span class="text-left col-2"><strong>商品合計</strong></span>
      <%= @total %><br>
      <span class="text-left col-2"><strong>配送料</strong></span>
      <%= @order.postage %><br>
      <span class="text-left col-2"><strong>ご請求額</strong></span>
      <%= @order.payment_amount %>
    </div>
  </div>
</div>
