<h2>ジャンル一覧追加</h2>

  <%= form_with model:@genre, url: admin_genres_path do |f| %>
    <label>ジャンル名</label>
    <%= f.text_field :name %>
    <%= f.submit '変更を保存' %>
  <% end %>
  
<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% @genres.each do |genre| %>
  <tbody>
    <tr>
      <td><%= genre.name %></td>
      <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
    </tr>
  </tbody>
  <% end %>
</table>

