<h1 class="view-title">Books</h1>

<div class="books-box">
 <table>
   <thead>
    <tr>
     <th>Title</th>
     <th>Body</th>
     <th colspan="3"></th>
    </tr>
   </thead>
   
   <% @lists.each do |book| %>
   <tbody>
    <tr>
     <td><%= book.title %></td>
     <td><%= book.body %></td>
     <td><%= link_to "show", book_path(book.id)%></td>
     <td><%= link_to "Edit", edit_book_path(book.id)%></td>
     <td><%= link_to "Destroy", book_path(book.id), method: :delete, "date-confirm" => "本当に削除しますか？"%></td>
    </tr>
   </tbody>
  <% end %>
 </table>
</div>


<h2 class="view-title">New books</h2>

<% if @books.errors.any? %>
 <%= @books.errors.count %>error prohibited this book from being saved:
 <ul>
  <% @books.errors.full_messages.each do |message|%>
   <li><%= message %></li>
  <% end %>
 </ul>
<% end %>

<%= form_with model: @books, url: '/books', method: :post do |f| %>

<div class="field">
 <p>Title</p>
 <%= f.text_field :title %>
</div>
 
<div class="field">
 <p>Body</p>
 <%= f.text_area :body %>
</div>
 
 <%= f.submit 'Create Book'%>
<% end %>