<% if @book.errors.any? %>
 <%= @book.errors.count %>error prohibited this book from being saved:
 <ul>
  <% @book.errors.full_messages.each do |message|%>
   <li><%= message %></li>
  <% end %>
 </ul>
<% end %>

<p>Title:</p>
<p><%= @book.title %></p>

<p>Body:</p>
<p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id)%>
<%= link_to "Back", books_path %>