<div class="container">
  <div class="row m-2 my-4">
    <h4 class="bg-light">入力情報確認</h4>
  </div>

  <div class="row">
    <div class="col-md-9">
      <table class="table table-bordered">
        <thead class="table-secondary">
          <th class="col-3">商品名</th>
          <th class="col-2">単価(税込)</th>
          <th class="col-2">数量</th>
          <th class="col-2">小計</th>
        </thead>
        <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= (cart_item.item.price*1.1).floor.to_s(:delimited) %></td>
            <td><%= cart_item.amount %></td>
            <td>¥<%= (cart_item.sum_of_price).floor.to_s(:delimited) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <table class="table table-bordered">
        <thead></thead>
        <tbody>
          <tr>
            <td class="table-secondary">送料</td>
            <td><%= @order.postage %></td>
          </tr>
          <tr>
            <td class="table-secondary">商品合計</td>
            <td><%= @total.round.to_s(:delimited)  %></td>
          </tr>
          <tr>
            <td class="table-secondary">請求金額</td>
            <td><%= (@total += @order.postage).round.to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h5 class="mr-3"><b>支払方法</b></h5>
      <% if @payment_method == "credit_card" %>
        クレジットカード
      <% else %>
        銀行振込
      <% end %>
  </div>
  <div class="row">
    <h5 class="mr-3"><b>お届け先</b></h5>
    <%= @order.address_display %>
  </div>

  <%= form_with model: @order, url: orders_path, method: :post do |f| %>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
	  <%= f.hidden_field :payment_method, :value => @order.payment_method %>
	  <%= f.hidden_field :postal_code, :value => @order.postal_code %>
	  <%= f.hidden_field :address, :value => @order.address %>
	  <%= f.hidden_field :name, :value => @order.name %>
	  <%= f.hidden_field :postage, :value => @order.postage %>
	  <%= f.hidden_field :payment_amount, :value => @total %>
	  <div class="row">
	    <%= f.submit '注文を確定する', class: "m-auto btn btn-success" %>
	  </div>
  <% end %>
 </div>


