<div class="container">
  <h4 class="m-2 my-4"><span class="bg-light">注文履歴詳細</span></h4>

  <div class="row">
    <div class="col-md-9"><b>注文情報</b></div><div class="col-md-3"><b>請求情報</b></div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <table class="table table-bordered">
        <thead></thead>
        <tbody>
          <tr>
            <td class="table-secondary col-md-2">注文日</td>
            <td class="col-md-7"><%= @order.created_at %></td>
          </tr>
          <tr>
            <td class="table-secondary col-md-2">配送先</td>
            <td class="col-md-7"><%= @order.address_display %></td>
          </tr>
          <tr>
            <td class="table-secondary col-md-2">支払方法</td>
            <td class="col-md-7"><%= @order.payment_method_display %></td>
          </tr>
          <tr>
            <td class="table-secondary col-md-2">ステータス</td>
            <td class="col-md-7"><%= @order.order_status_display %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <table class="table table-bordered">
        <thead></thead>
        <tbody>
          <tr>
            <td class="table-secondary" scope="col" style="width: 50%">商品合計</td>
            <td scope="col" style="width: 50%"><%= @total %></td>
          </tr>
          <tr>
            <td class="table-secondary" scope="col" style="width: 50%">配送料</td>
            <td scope="col" style="width: 50%"><%= @order.postage %></td>
          </tr>
          <tr>
            <td class="table-secondary" scope="col" style="width: 50%">ご請求額</td>
            <td scope="col" style="width: 50%"><%= @order.payment_amount %></td>
          </tr>
        </tbody>
     </table>
    </div>
  </div>

  <p><b>注文内容</b></p>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-bordered">
        <thead  class="table-secondary">
          <th class="col-md-6">商品</th>
          <th class="col-md-2">単価(税込)</th>
          <th class="col-md-1">個数</th>
          <th class="col-md-1">小計</th>
        </thead>
        <tbody>
            <% @order.order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.item.name %></td>
              <td><%= (order_item.item.taxin_price).floor.to_s(:delimited) %></td>
              <td><%= order_item.amount %></td>
              <td><%= (order_item.purchase_price*1.1 * order_item.amount).floor.to_s(:delimited) %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>